.container
  %h2.this_is This is
  %h1#about_timely
    About Time
    %span.ly> ly

  .blurb
    %h2 What is this?
    %p
      %strong this is timely
      is a minimal kitchen timer, inspired by the venerable
      %a{ :href=> "http://e.ggtimer.com", :target => "_blank"} e.ggtimer.
      It uses JavaScript instead of Flash to play nicely with Apple products.

    %h2 How do I use it?
    %p
      If you want a timer for three hours and thirty minutes, try any of the following:
    %p
      %code thisistimely.com/3 hours 30 minutes
      %code thisistimely.com/3h 30m
      %code thisistimely.com/3h30m
    %p
      Timely understands combinations of days, hours, minutes and seconds.

    %h2 Why?
    %p
      I made this because my Macbook Pro goes nuts when websites using Flash are left open for more than a few minutes. I needed a fairly long timer for Sunday roasts. It was also a fun excuse to make a minimal site and play around with
      %a{ :href => "http://www.alistapart.com/articles/responsive-web-design/", :target => "_blank" } responsive design.

    %h2 Who made this?
    %p
      %strong this is timely
      is a personal project of
      %a{ :href => "http://twitter.com/ryanming", :target => "_blank" } Ryan Ming.

    %a{ :href => "/", :class => "return" } â† return