.blurb
  %div.this-is This is
  %h1.logo Timely

  %h2 Explanation
  %p 
    %strong thisistimely
    is a minimal kitchen timer.
  
  %h2 Usage
  %code thisistimely.com/duration
  %p Bookmark for quick access.

  %h2 Examples
  %code thisistimely.com/5 minutes
  %br
  %code thisistimely.com/3 hours 4 minutes 2 seconds

