.blurb
  %h1 Timely
  %p Timely is a minimal kitchen timer that counts down and plays a sound when it's done.

  %form{ ":accept-charset" => "UTF-8", :action => "/", :method => "get"}
    %input{:id => "time", :name => "time", :value => "5 minutes", :type => "text"}
    %input{:type => "submit", :value => "start timer", :class => "btn primary start_timer"}
    %a{:href => "#", :class => "add_note"} add a note