.landing
  %h2 This is
  %h1#timely Timely

  .blurb
    %h2 Explanation
    %p
      %strong this is timely
      is a minimal kitchen timer.

    %h2 Usage
    %p In your address bar:
    %code thisistimely.com/duration
    %p Bookmark for quick access.

    %h2 Examples
    %code thisistimely.com/5 minutes
    %br
    %code thisistimely.com/3 hours 4 minutes 2 seconds
    .copyright &copy; 2012 rming

