.container.landing
  %h2 This is
  %h1#timely Timely

  .blurb
    %h2 Hello
    %p
      %strong this is timely
      is a minimal kitchen timer.

    %h2 Usage
    %p In your address bar:
    %p
      %code thisistimely.com/5 minutes
    %p
      %code thisistimely.com/1d 2h 3m 4s
    %p Bookmark for quick access.

    .copyright &copy; 2012 rming

