.container.landing
  %h2.this_is This is
  %h1#timely Timely

  .blurb
    %h2 Hello
    %p
      %strong this is timely
      is a minimal kitchen timer.

    %h2 Usage
    %p Set a timer by indicating its duration in your browser's address bar, like so:
    %p
      %code
        thisistimely.com/duration
    %p
      For example:
    %p
      %code
        %a{ :href => "/1 hour" } 1 hour
    %p
      %code
        %a{ :href => "/5 minutes" } 5 minutes
    %p
      %code
        %a{ :href => "/30 seconds" } 30 seconds
    %p
      Bookmark for quick access.
      %a{:href => "/about" } FAQ

    .copyright
      &copy; 2012
      %a{ :href => "http://twitter.com/ryanming"} rming

