.container.landing
  %h2 This is
  %h1#timely Timely

  .blurb
    %h2 Hello
    %p
      %strong this is timely
      is a minimal kitchen timer.

    %h2 Usage
    %p In your address bar:
    %p
      %code
        %a{ :href => "/5 minutes" } thisistimely.com/5 minutes
    %p
      %code
        %a{ :href => "/1d 2h 3m 4s" } thisistimely.com/1d 2h 3m 4s
    %p Bookmark for quick access. faq

    .copyright
      &copy; 2012
      %a{ :href => "http://twitter.com/ryanming"} rming

