.container.landing
  %h2 This is
  %h1#timely Timely

  .blurb
    %h2 Explanation
    %p
      %strong this is timely
      is a minimal kitchen timer.

    %h2 Usage
    %p In your address bar:
    %p
      %code thisistimely.com/5 minutes
    %p
      %code thisistimely.com/3h 4m 2s
    %p
      %code thisistimely.com/1h 30m
    %p Bookmark for quick access.
    .copyright &copy; 2012 rming

