body { color: #666; }
h2 { margin-top: 2em; margin-bottom: 0; }
p { font: 1em/1em "Helvetica Neue", "Helvetica", Arial, sans-serif; }
code { font-size: 1em/1em; display: inline; background-color: #bbb; padding: 4px; color: #fff; }

#landing { background-color: #ccc; }
#timer { background-color: #c44032; }

.container { width: 80%; max-width: 1200px; margin: 0 auto; }
.landing h1 { font: 96px/1 "Helvetica Neue", "Helvetica", Arial, sans-serif; font-weight: bold; width: 100%; display: inline-block; opacity: 0.85; margin: 0; color: #fff; }
.copyright { margin-top: 2em; font: 0.75em/1em "Helvetica Neue", "Helvetica", Arial, sans-serif; }
.timer { margin-top: 0.35em; font: 0.75em/1em "Helvetica Neue", "Helvetica", Arial, sans-serif; font-weight: bold; color: #fff; }
.time_remaining { text-transform: lowercase; }
.blurb { width: 33%; float: right; }
