body { color: #666; font: 1em/1.5em "Helvetica Neue", "Helvetica", Arial, sans-serif; }
h1 { font: 96px/1 "Helvetica Neue", "Helvetica", Arial, sans-serif; font-weight: bold; width: 100%; display: inline-block; opacity: 0.85; margin: 0; color: #fff; }
h2 { margin-top: 2em; margin-bottom: 0; }
code { font-size: 1em; display: block; color: #666; line-height: 1.5em; }
blockquote { margin: 1em 0; }
blockquote footer { text-transform: uppercase; color: #999; }

a { color: #666; }
a:hover { text-decoration: none; }
code a { color: #fff; text-decoration: none; padding: 4px; background-color: #bbb; }
code a:hover { color: #666; }


#landing, #about, #error { background-color: #ccc; }
#timer { background-color: #c44032; }
#timer .this_is { color: #fff; }

input::-webkit-input-placeholder { color: #fff; } 
input:-moz-placeholder { color: #666; }
#timer-duration { 
  width: auto; border: 0; background-color: #bbb; padding: 4px;
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  color: #666;
  transition: background-color 0.4s linear; 
  -moz-transition: background-color 0.4s linear;    /* FF3.7+ */
  -o-transition: background-color 0.4s linear;      /* Opera 10.5 */
  -webkit-transition: background-color 0.4s linear; /* Saf3.2+, Chrome */}

/* #ffc423 */
#timer-duration:hover { background-color: #fff; }

.this_is { margin-top: 0; }
.container { width: 80%; max-width: 1200px; min-width: 320px; margin: 32px auto; overflow: hidden; } /* PPK clearing alternative */
.copyright { margin-top: 2em; font: 0.75em/1em "Helvetica Neue", "Helvetica", Arial, sans-serif; }
.timer { margin-top: 0.35em; font: 0.75em/1em "Helvetica Neue", "Helvetica", Arial, sans-serif; font-weight: bold; color: #fff; }
.time_remaining { text-transform: lowercase; }
.blurb { width: 38.1966012%; float: right; margin-top: 4em; }
.copyright { margin-top: 4em; }
.ly { opacity: 0.2;}
.return { display: block; margin-top: 2em; }
#timer .return { color: #fff; margin-top: 4em; display: none; }
#timer .return.reveal { display: block; }

@media screen and (max-width: 824px) {
  .blurb { width: 61.8033988%; }
}

@media screen and (max-width: 520px) {
  .container {
    width: 90%;
  }

  .blurb {
    width: 100%;
    float: none;
  }
}