.blurb { float: right; width: 300px; margin: 24px 48px; }
.blurb p { font: 0.75em/1em "Helvetica", Arial, sans-serif; }
.this-is, h2 { text-transform: uppercase; font: normal normal normal 0.4em/1em "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif; color: #444; border-bottom: 1px solid #444; letter-spacing: 0.2em; }

h2 { margin-top: 2em; margin-bottom: 0; }
.logo { margin-top: 0; padding-top: 0; color: #F03232; } 

code { background: #eee; font-size: 0.75em; display: inline; }


.start_timer { margin: 1em 0 0 0; float:right; }
.add_note { margin: 1em 0 0 0; display: none; color: #aaa; }
.add_note:hover { color: #222; }